#newsCol{
  margin-top: 30px;
  width: 30%;
  font: helvetica;
  margin-bottom: 10px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 10px;
}

h5:hover{
  cursor: pointer;
  color: blue;
  font-style: italic;
}


h3{
  color: grey;
}
