<nav class="navbar navbar-default">
  <div class="navbar-header">
    <img src="https://static.roland.com/global/css/fonts/roland.svg" alt="Roland logo">
  </div>
  <a routerLink="products">Products</a>
  <a routerLink="community">Community</a>
  <a routerLink="support">Support</a>
  <a routerLink="artists">Artists</a>
  <a routerLink="blog">Blog</a>
  <a routerLink="news">New and Events</a>
  <a routerLink="login">Login</a>
  <input type="text" name="search" value=""placeholder="search">
</nav>
