img{
  height: 50px;
  width: 100px;
}
nav{
  padding-top: 10px;
  background-color: black;
  color: grey;
}
.button{
  border-style: dashed;
  border-color: white;
  border-width: 0px 1px 0px 1px;
}

.button:hover{
  background-color: darkgray;
  color: white;
  cursor: pointer;
}
input{
  border-radius: 20px;
  text-align: center;
  margin: 5px 10px 10px 10px;
}
