img{
  height: 50px;
  width: 100px;
}
img:hover{
  background-color: darkgray;
  color: white;
  cursor: pointer;
}
nav{
  padding-top: 10px;
  background-color: black;
  color: grey;
}

a:hover{
  background-color: darkgray;
  color: white;
  cursor: pointer;
}
input{
  border-radius: 20px;
  text-align: center;
  margin: 5px 10px 10px 10px;
}
a{
  color: gray;
}
