<div class="row product justify-content-around">
  <div *ngFor='let product of products| async' name='featured-product' id="productCol">
    <div class="col-4" (click)="goToDetailPage(product)">
      <img src={{product.image}} alt="...">
      <h3>{{product.model}}</h3>
      <p>{{product.title}}</p>
      <!-- <p>Click for Details..</p>
      <div *ngIf="selectedProduct === currentProduct">
        <p>{{currentProduct.description}}</p>
        <p>MSRP: ${{currentProduct.msrp}}</p>
      </div> -->
    </div>
  </div>
</div>
